@import url('https://fonts.googleapis.com/css?family=Space+Mono');

.container {
    background: #ffffff;
    display: block;
    min-width: 200px;
    padding: 4em;
    margin-top: 4rem;
    text-align: center;
}

.avatar {
    width: 221px !important;
    height: 160px !important;
}

.intro-name {
    color: #000000;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Space Mono', monospace;
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 10px;
}

.about {
    font-size: 16px;
    color: #21242c;
    line-height: 1.5;
    font-weight: 500;
    font-family: 'Space Mono', monospace;
    /* widows: 85%; */
    display: block;
    max-width: 700px;
    padding: 0 10px;
    margin: 18px auto;
}

.about-me {
    columns: #666666;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    word-wrap: normal;
    letter-spacing: 1px;
}

.expl {
    font-size: 16px;
    color: black;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    .about-me {
        font-weight: 550;
        font-size: 14px;
    }

    .container{
        margin-top: 2em;
    }

    .intro-name {
        font-size: 2em;
    }

    .avatar {
        width: 100px !important;
        height: 72px !important;
    }

}